/* 
    Created on : 18/01/2018, 17:37:01
    Author     : davi-
*/

body{
    background-color: #669999;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    width: 16%;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;} 
}

.perfil{
    margin-top: 10px;
    background-color: white;   
}
.menu-titulo{
    text-decoration: none;
}